<div class='box round pad2 clearfix contain fill-white'>
  <!-- rank = player_counter + 1 -->
  <div class='pin-left pad2'>
    <%= image_tag 'melissa.jpg', class: 'graphic-sm img-circle' %>
  </div>
  <div class='col-xs-9'>
    <h4><%= player.name %></h4>    
    <p class='small quiet'>
      <%= player.win_count %> wins / <%= player.loss_count %> losses
    </p>
  </div>
  <strong class='pin-right pad2 quiet'>2,764</strong>  
</div>