<% @players.each_with_index do |player, rank| %>
  <a href='#fakelink' class='clickable block box round pad2 clearfix contain fill-white slideDown'>
    <div class='pin-left pad2'>
      <span class='pad2y pad0r quiet small'><%= rank + 1 %></span>
      <div class='fill-red img-circle graphic-sm dark inline'>
        <i class='icon icon-user'></i>
      </div>
    </div>
    <h4><%= player_name(player) %></h4>
    <div class='quiet small'>
      2,764 points · <%= player.win_count %> wins · <%= player.loss_count %> losses
    </div>
    <div class='small space-bottom1'>
      played 2 hours ago
    </div>
  </a>
<% end %>