<!-- <header class='fill-denim dark center pad2y'>
  <h1>Leaders</h1>
  <p class='quiet'>2014</p>
</header>
 -->

<section class='contain clearfix pad0y'>
  <div class='box round pad2 clearfix contain fill-white'>
    <div class='pin-left pad2'>
      <div class='fill-red img-circle graphic-sm dark'>open</div>
    </div>
    <h4>Lorem ipsum dolor sit amet</h4>
    <div class='quiet small'>
      R-08453 · Information Systems · Brian Speagle
    </div>
    <div class='small space-bottom1'>
      Requested Feb 12 at 2:45 pm
    </div>
    <p class='hidden-xs'>
      Huh? Oh. Yeah. Tape deck. Couple of Creedence tapes. And there was a, uh… my briefcase... <a href='#fakelink'>view details<i class='icon icon-arrow-right icon-sm'></i>
      </a>
    </p>
  </div>
  <div class='box round pad2 clearfix contain fill-white'>
    <div class='pin-left pad2'>
      <div class='fill-red img-circle graphic-sm dark'>open</div>
    </div>
    <h4>Lorem ipsum dolor sit amet</h4>
    <div class='quiet small'>
      R-08453 · Information Systems · Brian Speagle
    </div>
    <div class='small space-bottom1'>
      Requested Feb 12 at 2:45 pm
    </div>
    <p class='hidden-xs'>
      Huh? Oh. Yeah. Tape deck. Couple of Creedence tapes. And there was a, uh… my briefcase... <a href='#fakelink'>view details<i class='icon icon-arrow-right icon-sm'></i>
      </a>
    </p>
  </div>
  <div class='box round pad2 clearfix contain fill-white'>
    <div class='pin-left pad2'>
      <div class='fill-red img-circle graphic-sm dark'>open</div>
    </div>
    <h4>Lorem ipsum dolor sit amet</h4>
    <div class='quiet small'>
      R-08453 · Information Systems · Brian Speagle
    </div>
    <div class='small space-bottom1'>
      Requested Feb 12 at 2:45 pm
    </div>
    <p class='hidden-xs'>
      Huh? Oh. Yeah. Tape deck. Couple of Creedence tapes. And there was a, uh… my briefcase... <a href='#fakelink'>view details<i class='icon icon-arrow-right icon-sm'></i>
      </a>
    </p>
  </div>
  <div class='box round pad2 clearfix contain fill-white'>
    <div class='pin-left pad2'>
      <div class='fill-red img-circle graphic-sm dark'>open</div>
    </div>
    <h4>Lorem ipsum dolor sit amet</h4>
    <div class='quiet small'>
      R-08453 · Information Systems · Brian Speagle
    </div>
    <div class='small space-bottom1'>
      Requested Feb 12 at 2:45 pm
    </div>
    <p class='hidden-xs'>
      Huh? Oh. Yeah. Tape deck. Couple of Creedence tapes. And there was a, uh… my briefcase... <a href='#fakelink'>view details<i class='icon icon-arrow-right icon-sm'></i>
      </a>
    </p>
  </div>
</section>