<% if object.errors.any? %>
  <div class='alert fill-light space-bottom'>
    <h4 class='space-bottom0'>The form contains <%= pluralize(object.errors.count, "error") %>.
    <ul class='danger'>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>    
  </div>
<% end %>
