@media (max-width:767px) {
  body.fill-light { background: #fff; }
  .container-fluid > .pad4y { padding-top: 20px; padding-bottom: 20px; }
  .box { border-radius: 0; margin-bottom: 0; }
  .box:not(:first-child) { border-top: none; } 
  .box.form { padding: 0; border: none; }
}
