body.players .box { padding-left: 110px; }
a.clickable { color: inherit; }
a.clickable:focus { box-shadow: none; }
.match-player img { border: 4px solid #2A658E; }
.match-player.active img { width: 115px; }
.match-player.active p { font-size: 1.2em; }
@media (min-width: 992px) and (max-width: 1080px) {
  .primary .tabs { width: 66.66666666666666%; }
}
@media (max-width:767px) {
  body.fill-light { background: #fff; }
  .container-fluid > .pad4y { padding-top: 0px; padding-bottom: 20px; }
  .box { border-radius: 0; margin-bottom: 0; }
  .box:not(:first-child) { border-top: none; } 
  .box.form { padding: 0; border: none; }
  body > .container-fluid { padding: 0; }
  body.players .pad4y { padding-top: 5px; }
  body.players .box:first-child { border-top: none; }  

  body.player .pad4y { padding-top: 0; }

  /* new */
  body .box:first-child { border: none; }
}

/* new */

input.flat { 
  border-width: 0; 
  background: #f8f8f8;
}

.player-media { padding-left: 95px; }
.player-media img { 
  left: 40px;
  width: 40px;
  top: 10px;
}
.player-media + .pin-topleft { width: 29px; }

.dark .btn-inverse { 
  background: #fff; 
  color: #3bb2d0; 
  padding: 10px 40px;
}
.dark .btn-inverse:hover,
.dark .btn-inverse:active { color: #63b6e5; }

.stats .img-rounded,
.stats .img-circle { 
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.profile img { 
  border: 3px solid #fff; 
  border-color: rgba(255,255,255,.5);
}

.match-player img { 
  border-color: #bfbfbf;
  border: 4px solid rgba(0,0,0,.25);
  transition: all 0.3s ease-in-out; 
  cursor: pointer; 
}

.match-player label:hover img,
.match-player label:focus img {
  border: 4px solid #3887be;
}

.match-player input:checked + img {
  border: 4px solid #3887be;
}

.opponent:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 4px;
  background: #eee;
  border-radius: 3px;
}

.versus {
  position: absolute; 
  top: 70px; 
  left: -14px; border-radius: 50%; 
  width: 32px; 
  height: 32px; 
  border: 2px solid #e5e5e5;
  color: #fff;
  background: #ee6565;
  line-height: 28px;
}