<section class='keyline-top pad4y fill-white clearfix small'>
  <div class='container-fluid'>
    <div class='col-sm-6 mobile-cols'>
      <div class='col-sm-3'>
        <a class='col-sm-12 strong' href='#fakelink'>Lorem</a>
        <a class='col-sm-12 strong' href='#fakelink'>Team</a>
        <a class='col-sm-12 strong' href='#fakelink'>Ipsum</a>
        <a class='col-sm-12 strong' href='#fakelink'>Dolor</a>
      </div>
      <div class='col-sm-3'>
        <a class='col-sm-12 strong' href='#fakelink'>Lorem</a>
        <a class='col-sm-12 strong' href='#fakelink'>Ipsum</a>
        <a class='col-sm-12 strong' href='#fakelink'>Dolor</a>
        <a class='col-sm-12 strong' href='#fakelink'>Amet</a>
      </div>
      <div class='col-sm-3'>
        <a class='col-sm-12 strong' href='userguide.pdf' target='_blank'>Help</a>
        <a class='col-sm-12 strong' href='#fakelink'>Newsletter</a>
        <a class='col-sm-12 strong' href='#fakelink'>Status</a>
        <a class='col-sm-12 strong' href='#fakelink'>Contact</a>
      </div>
      <div class='col-sm-3'>
        <p>
          <span style='padding-bottom:10px;' class='keyline-bottom'>Tools</span>
        </p>
        <a class='col-sm-12 strong' href='#fakelink'>Ipsum</a>
        <a class='col-sm-12 strong' href='#fakelink'>Dolor</a>
      </div>
    </div>
    <div class='col-sm-6 newsletter'>
      <form class='space-bottom'>
        <fieldset class='with-icon'>
          <div class='input-group'>
            <i class='icon icon-envelope quiet'></i>
            <input type='text' placeholder='Email address'>
            <div class='input-group-btn'>
              <input type='submit' value='Subscribe' class='btn btn-default pad4x'>
            </div>
          </div>
        </fieldset>
      </form>
      Lorem ipsum dolor <a href='#fakelink' class='strong'>Sit</a> amet <a href='#fakelink' class='strong'>Consecutor</a>
    </div>
  </div>
</section><!-- ./footer -->
