<div class='navbar fill-denim dark keyline-bottom col-sm-12 animate clearfix'>
  <div class='container-fluid contain'>
    <nav class='col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-right pad1y contain clearfix noprint'>
      <a class='logo pad1y pull-left text-left' href='index.html'>
        paddle
      </a>

      <div class='primary row2 small strong'>
        <a href='#dropdown' class='visible-xs authmenu keyline-all droplink 
          quiet round animate pull-right center'>
          <i class='icon icon-list'></i>
        </a>

        <a href='#dropdown' class='hidden-xs authmenu droplink quiet pad1 block round animate pull-right'>
          <img class='avatar round' src='https://www.gravatar.com/avatar/2f56248796231593ce00c562fae2b1da.jpg?d=mm'>
          zwelch
        </a>

        <div class='btn-group tabs fill-purple dark round col-md-6 col-sm-6 pull-right hidden-xs'>
          <a href='#fakelink' class='btn btn-primary col-sm-6 quiet active'>Leaders<i class='icon icon-plus icon-sm'></i></a>
          <a href='#fakelink' class='btn btn-primary col-sm-6 quiet'>Record Match<i class='icon icon-plus icon-sm'></i></a>
        </div>

        <div class='dropdown fill-denim dark keyline-all round animate'>
          <div class='profile contain keyline-bottom pad1'>
            <a href='#fakelink' class='profile-icon'>
              <img class='avatar' src='https://www.gravatar.com/avatar/2f56248796231593ce00c562fae2b1da.jpg?d=mm'>
            </a>
            <a href='#fakelink' class='truncate'>
              Lorem<br>
              <span class='quiet'>(ipsum dolor)</span>
            </a>
          </div>
          <div class='keyline-bottom pad1'>
            <a href='#fakelink'>Account Settings</a>
            <a href='#fakelink' id='signout'>Sign out</a>
          </div>
          <div class='visible-xs pad1'>
            <a href='#fakelink' class='authed'>Leaders</a>
            <a href='#fakelink' class='authed'>Record Match</a>
          </div>
        </div><!-- ./dropdown -->

      </div>
    </nav>
  </div>
</div><!-- ./navbar -->