<div class='navbar fill-white keyline-bottom col-sm-12 animate clearfix'>
  <div class='container-fluid contain'>
    <nav class='col-sm-12 text-right pad1y contain clearfix noprint'>
      <a class='logo pad1y pull-left text-left' href='/'>Paddle</a>

      <div class='primary small strong row2'>
        <a href='#dropdown' class='visible-xs authmenu keyline-all droplink 
          quiet round animate pull-right center'>
          <i class='icon icon-list'></i>
        </a>

        <a href='#dropdown' class='hidden-xs authmenu droplink quiet pad1 block round animate pull-right'>
          <img class='avatar round' src='https://www.gravatar.com/avatar/2f56248796231593ce00c562fae2b1da.jpg?d=mm'>
          zwelch
        </a>

        <div class='dropdown fill-white keyline-all round animate'>
          <div class='profile contain keyline-bottom pad1'>
            <a href='#fakelink' class='profile-icon'>
              <img class='avatar' src='https://www.gravatar.com/avatar/2f56248796231593ce00c562fae2b1da.jpg?d=mm'>
            </a>
            <a href='#fakelink' class='truncate'>
              Lorem<br>
              <span class='quiet'>(ipsum dolor)</span>
            </a>
          </div>
          <% if signed_in? %>
            <div class='keyline-bottom pad1'>
              <%= link_to 'Account', edit_user_path(current_user) %>
              <%= link_to 'Sign Out', signout_path, method: "delete" %>
            </div>
          <% else %>
            <div class='keyline-bottom pad1'>
              <%= link_to 'Sign In', signin_path %>
            </div>
          <% end %>
        </div><!-- ./dropdown -->   
      </div><!-- ./primary -->       

    </nav>

  </div>
</div><!-- ./navbar -->
