<div class='navbar fill-white keyline-bottom col-sm-12 animate clearfix'>
  <div class='container-fluid contain'>
    <nav class='col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-right pad1y contain clearfix noprint'>
      <a class='logo pad1y pull-left text-left' href='index.html'>
        paddle
      </a>

      <div class='primary row2'>
        <a href='#dropdown' class='visible-xs authmenu keyline-all droplink 
          quiet round animate pull-right center'>
          <i class='icon icon-list'></i>
        </a>

        <div class='btn-group tabs fill-purple dark round col-md-7 col-sm-8 pull-right hidden-xs'>
          <a href='#fakelink' class='btn btn-primary col-sm-6 quiet active'>Lorem Ipsum<i class='icon icon-plus icon-sm'></i></a>
          <a href='#fakelink' class='btn btn-primary col-sm-6 quiet'>Lorem Ipsum<i class='icon icon-plus icon-sm'></i></a>
        </div>

        <div class='visible-xs dropdown fill-denim dark keyline-all round animate'>
          <div class='keyline-bottom pad1'>
            <a href='#fakelink'>Lorem Ipsum</a>
          </div>
          <div class='pad1'>
            <a href='#fakelink'>Lorem Ipsum</a>
          </div>
        </div><!-- ./dropdown menu -->  

      </div>
    </nav>
  </div>
</div><!-- ./navbar -->